@model CategoryModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

